@import "./var.less";

@absolute-prefix: ~"react-datepicker-absolute";

.@{absolute-prefix} {
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  display: none;
  box-shadow: 0 3px 6px -4px @box-shadow-color, 0 6px 16px @box-shadow-color,
    0 9px 28px 8px @box-shadow-color;
  border-radius: @border-radius;

  &.@{absolute-prefix}-show {
    display: block;
  }
}
