@import '../var.less';

@picker-prefix: ~'react-datepicker-picker';

.@{picker-prefix} {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 212px;
  height: 212px;
  line-height: @base-line-height;
  border: @border-width solid @gray;
  border-radius: @border-radius;
  font-size: 12px;
  background-color: #fff;
  display: none;

  &.@{picker-prefix}-show {
    display: block;
  }

  &-common {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;

    &  >  div {
      box-sizing: border-box;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }

    .@{picker-prefix}-week {
      width: 30px;
    }
  }

  .@{picker-prefix}-date-container  {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .@{picker-prefix}-date {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
    }

    .@{picker-prefix}-current {
      color: @primary-color;
    }
  }
}