@import './var.less';

@picker-prefix: ~'react-datepicker-picker';

.@{picker-prefix} {
  box-sizing: border-box;
  position: absolute;
  top: 1px;
  left: 0;
  width: @picker-size-width;
  // height: @picker-size-height;
  line-height: @base-line-height;
  // border: @border-width solid @gray;
  border-radius: @border-radius;
  font-size: 12px;
  background-color: #fff;
  display: none;
  box-shadow: @box-shadow-color 0px 0px 20px;

  &.@{picker-prefix}-show {
    display: block;
  }

  &-common {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: @picker-per-size-height;

    &  >  div {
      box-sizing: border-box;
      min-width: 40px;
      height: @picker-per-size-height;
      line-height: @picker-per-size-height;
      text-align: center;
      cursor: pointer;
    }

    .@{picker-prefix}-week {
      width: @picker-per-size-width;
    }

    .@{picker-prefix}-no-select{
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;

      /*
        Introduced in Internet Explorer 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
      */
      -ms-user-select: none;
      user-select: none;
    }
  }

  .@{picker-prefix}-date-container  {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .@{picker-prefix}-date {
      width: @picker-per-size-width;
      height: @picker-per-size-height;
      text-align: center;
      line-height: @picker-per-size-height;
      cursor: pointer;
    }

    .@{picker-prefix}-current {
      color: @primary-color;
    }

    .@{picker-prefix}-date.@{picker-prefix}-active {
      border-radius: @picker-per-size-height / 2;
      background-color: @primary-color;
      color: #fff;
    }
  }
}