
@primary-color: #197AFA;
@gray: #999da8;
@color: #333e59;

@border-width: 1px;
@border-radius: 4px;
@font-size: 14px;
@base-line-height: 24px;

@input-border-color: #cccfd7;

@box-shadow-color: #cccfd7;



// input
// check in config inputWidth attr
@input-width: 240px;



// container
@container-height: 320px;
@container-quick-width: 160px;
// check in config container-main-width attr
@container-main-width: 300px;



// button
@button-x: 16px;
@button-y: 4px;